

.App {
  text-align: center;
  background-color: #282c34;
  height: auto;
  min-height: 120vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#title {
  display: flex;
  flex-direction: column;
  background-color:  rgb(178, 32, 154);
  width: 100%;
  height: auto;
  align-items: center;
  font-family: 'Bungee', cursive;
}

#login {
  background-color: white;
  margin-top: 100px;
  width: 500px;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  border: 2px solid #282c34;
  color: black;
  justify-content: center;
  border-radius: 20px;
}

input {
 margin-left: 5px;
 height: 20px;
 border-radius: 5px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

input[type=submit], #playerbutton {
  background-color:  blueviolet;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 25px;
  min-width: 80px;
  text-align: center;
  font-size: 14px;
}

input[type=submit]:hover, #playerbutton:hover {
  background-color: rgb(174, 101, 241);
}

#match {
  font-size: 16px;
}

h1 {
  font-size: 50px;
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 15px;
}


#gameData {
  width: 75vw;
  height: auto;
}

h2 {
  font-size: 25px;
  font-family:'Bungee Shade', cursive;
  letter-spacing: 4px;
  color: whitesmoke
}

#scoreBoard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid white;
  border-radius: 5px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

#counter {
  font-weight: 400;
	font-size: 18px;
}

#highscore {
  font-weight: 400;
	font-size: 18px;
}

#instructions {
  font-weight: 400;
  font-size: 12px;
  float: right;
  position: relative;
  margin-top: -120px;
  color: white;
  z-index: 3;
  width: 290px;
  border: 2px white solid;
  border-radius: 5px;
  background-color: #282c34;

}

.close {
  float: left;
}

ol {
  text-align: left;
}

button {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  border: none;
	background-color: transparent;
	cursor: pointer;
}

#purpose {
  margin-top: 5px;
}

#columnView {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75vw;
  background-color: blueviolet;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Column1 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: black;
  width: 200px;
  height: 400px
}

#a {
  height: 50px;
  width: 100px;
  background-color: lightseagreen;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgb(49, 47, 47);
}

#b {
  height: 50px;
  width: 125px;
  background-color: rgb(32, 66, 178);
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgb(49, 47, 47);
}

#c {
  height: 50px;
  width: 150px;
  background-color: rgb(120, 32, 178);
  border-radius: 15px
}

#d {
  height: 50px;
  width: 175px;
  background-color: rgb(178, 32, 134);
  border-radius: 15px
}

label {
  margin-left: -50px;
}

#formtext {
  margin-left: 15px;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 950px) {
  #columnView {
    flex-direction: column;
    align-items: center; 
  }

  .Column1 {
    margin-bottom: 10px;
    height: 300px;
  }
}

@media (max-width: 600px) {
  #login {
    width: 350px;
  }

  #formtext {
    width: 100px;
  }

  h1 {
    font-size: 48px;
    text-align: center;
    height: auto;
  }

  #scoreBoard {
    flex-direction: column;
    width: auto;
    max-width: 300px;
    height: auto;
  }

}

@media (max-width: 350px) {

  #login {
    width: 300px;
  }

  #formtext {
    width: 75px;
  }

}

