

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#columnView {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75vw;
  background-color: blueviolet;
}

.Column1 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: black;
  width: 150px;
}

#a {
  height: 25px;
  width: 50px;
  background-color: lightseagreen;
}

#b {
  height: 25px;
  width: 75px;
  background-color: rgb(32, 66, 178);
}

#c {
  height: 25px;
  width: 100px;
  background-color: rgb(120, 32, 178);
}

#d {
  height: 25px;
  width: 125px;
  background-color: rgb(178, 32, 134);
}


.App-link {
  color: #61dafb;
}


